.title {
    width: 100%;
    text-align: center;
    color: black;
    margin-bottom: 1rem;
    border: 1px solid black;
    border-radius: .5rem;
    background: #25FF19;
  }

  #main-title {
    font-family: 'Bangers', cursive;
    font-size: 3rem;
    font-weight: 500;

  }

  #title-img {
    width: 500px;
    height: auto;
  }

  #rules {
    color: black;
    font-family: 'Paytone One', sans-serif;
    font-size: 1rem;

  }
  
  #score {
    font-family: 'Bangers', cursive;
    font-size: 2rem;
    font-weight: 500;
  }
