.card {
    background: #fff;
    border-radius: 2px;
    height: 200px;
    margin: 1rem;
    position: relative;
    width: 200px;
    box-shadow: 0 3px 6px #9FFF19, 0 3px 6px #9FFF19;
    text-align: left;
  }
  
  .card > .img-container {
    height: 100%;
    overflow: hidden;
    background: #25FF19;;
  }
  .card > .img-container > img {
    padding-left:2rem;
    width: 60%
  }

  .card:hover {
    cursor: pointer; 
  }
